* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dddddd;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}